page-insidequery {

    .emaildec {
        color:#191970;
        font-size: 1.5ch;
      }
      .querydec {
        font-size: 1.5ch;
      }

      .queryround {
        border: 1px solid #000000;
        background-color:rgb(240, 240, 240);
        padding: 2px;
        width: 100%;
        text-align: left;
        border-radius: 5px;
      }
      
    }