page-inbox {

    .emaildec {
        color:#191970;
        font-size: 1.4ch;
      }
      .querydec {
        width: 90%;
        font-size: 1.5ch;
      }

      .querysyste {
        font-size: 1ch;
        color:#696969
      }

}