page-insert {

    .button {
        border: none;
        position: relative;   
        left: 10px;
        right: 10PX;
        top: 30px;
        width:93%;
    }

    .second_one {
        width:50%;
        
    }

    td.centered {
        text-align: center;
      }

}